body {
	background-color: pink;
}

.new-border {
	border: 2px solid black;
}

.title {
	border-color: green;
}

.image {
	border-color: blue;
}

.text1 {
	border-color: red;
}

.text2 {
	border-color: orange;
}

.footer {
	border-color: aqua;
}

.top-nav {
	background-color: goldenrod;
	height: 45px;
}

.top-nav li {
	list-style-type: none;
	font-family: "Arial";
	padding: 0 9px;
	float: left;
	margin: 10px 15px 0 15px;
	cursor: pointer;
}

/*
.new-border2 {
	border-width: 2px;
	border-style: solid;
	border-color: black;
}
*/

